/*ͨ������*/
body {
  font-size: 12px;
  color: #333;
  font-family: "microsoft yahei", "simsun", "arial", "verdana";
}
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
input,
button {
  margin: 0;
  padding: 0;
  list-style: none;
}
input,
button {
  border: 0;
  outline: 0;
  background: none;
}
textarea {
  resize: none;
}
s {
  text-decoration: none;
}
a {
  font-size: 12px;
  color: #666;
  text-decoration: none;
}
a:hover {
  color: #666;
  text-decoration: none!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: both;
}
.h0 {
  height: 0;
}
.h2 {
  height: 2px;
}
.h3 {
  height: 3px;
}
.h5 {
  height: 5px;
}
.h10 {
  height: 10px;
}
.h16 {
  height: 16px;
}
.h30 {
  height: 30px;
}
.h50 {
  height: 50px;
}
.h240 {
  height: 240px;
}

footer {
  width: 100%;
  min-width: 1100px;
  height: auto;
  background-color: #373D44;
  color: #FFFFFF;
  overflow: hidden;
}
footer .footer-container {
  margin: 0 auto;
  width: 1100px;
  overflow: hidden;
}
footer .footer-container .footer-about {
  margin-top: 40px;
  /*border-top: 1px solid rgba(229,229,229,0.2);*/
  padding-top: 70px;
  zoom: 1;
}
footer .footer-container .footer-about .footer_ {
  float: left;
  margin-right: 72px;
}
footer .footer-container .footer-about .footer_ h3 {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 31px;
}
footer .footer-container .footer-about .footer_ p {
  font-size: 14px;
  color: #E5E5E5;
  line-height: 20px;
  padding-bottom: 20px;
}
footer .footer-container .footer-about a {
  text-decoration: none;
  color: #E5E5E5;
  letter-spacing: 0.58px;
}
footer .footer-container .footer-about .product a {
  display: inline-block;
  width: 95px;
}
footer .footer-container .footer-about .footer_:last-child {
  margin-right: 0px;
}

.navbar {
  width: 100%;
  height: 68px;
  margin-bottom: 0!important;
}
.nav > li {
  padding: 9px 35px;
}
.navbar-brand {
  width: 50px;
  padding: 0;
  margin-top: 9px;
  padding: 0!important;
}
.navbar-brand img {
  max-height: 50px;
}
.ct-nav {
  margin-right: 50px;
}
/*
.services-menu{
    background-color: #303848;
    padding: 0;
    border: 0;
}
.services-menu li a{
    padding: 10px 20px;
    color: #FFF;
    transition: all .3s;
}
.dropdown-menu li a:hover{
    transition: all .3s;
    color: #00A0DE;
    background-color: rgba(239,239,239,0.15);
}
.menu-title{
    font-size: 12px;
    color: #97989c;
    padding: 2px 0 2px 20px;
}
.dropdown-menu li.service{
    padding: 0;
    border-bottom: 1px solid rgba(229,229,229,0.07);
}
.dropdown-menu li.service:hover{
    padding: 0;
    border-bottom: 1px solid rgba(229,229,229,0.07);
}
.dropdown-menu>li.service>a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #333333;
    white-space: nowrap;
}
.dropdown-menu>li.service>a>h4{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    font-size: 14px;
    color: #fff;
}
.dropdown-menu>li.service>a>h4:hover{
    color: #00A0DE;
}
.dropdown-menu>li.service>a>p{
    color: #97989c;
    margin: 0;
    font-size: 12px;
}*/

/*v01-start:�ֲ�ͼ*/
.carousel-inner .item img {
  width: 100%;
  max-height: 450px;
}
/*�ĸ�ģ��*/
.ct-container-box {
  width: 1170px;
  margin: 100px auto 0 auto;
}
.content-box {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.content-box li {
  flex: 1;
  height: 400px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.content-box li a {
  display: block;
  width: 100%;
  height: 100%;
}
.content-box li .content-box-bg {
  width: 100%;
  height: 100%;
  transition: all .5s;
  transform: translate(0, 370px);
}
.content-box li:hover .content-box-bg {
  opacity: 0.6;
  transform: translate(0, 0);
}
.content-box li:hover .bg01 {
  background: -webkit-linear-gradient(#99cc34, #5fcc55);
  background: -o-linear-gradient(#99cc34, #5fcc55);
  background: -moz-linear-gradient(#99cc34, #5fcc55);
  background: linear-gradient(#99cc34, #5fcc55);
}
.content-box li:hover .bg02 {
  background: -webkit-linear-gradient(#019bff, #9079ff);
  background: -o-linear-gradient(#019bff, #9079ff);
  background: -moz-linear-gradient(#019bff, #9079ff);
  background: linear-gradient(#019bff, #9079ff);
}
.content-box li:hover .bg03 {
  background: -webkit-linear-gradient(#fd985b, #fd4e5a);
  background: -o-linear-gradient(#fd985b, #fd4e5a);
  background: -moz-linear-gradient(#fd985b, #fd4e5a);
  background: linear-gradient(#fd985b, #fd4e5a);
}
.content-box li:hover .bg04 {
  background: -webkit-linear-gradient(#ffb104, #ff8252);
  background: -o-linear-gradient(#ffb104, #ff8252);
  background: -moz-linear-gradient(#ffb104, #ff8252);
  background: linear-gradient(#ffb104, #ff8252);
}
.content-box li .content-fore img {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 45px;
  width: 80px;
  height: 80px;
}
.content-box li:hover .content-fore img {
  display: none;
}
.content-box li .content-bg {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: 25px;
  width: 80px;
  height: 80px;
  transition: all .5s;
  transform: translate(0, 85px);
  opacity: .5;
  background: -webkit-linear-gradient(#99cc34, #5fcc55);
  background: -o-linear-gradient(#99cc34, #5fcc55);
  background: -moz-linear-gradient(#99cc34, #5fcc55);
  background: linear-gradient(#99cc34, #5fcc55);
  display: none;
}
.content-box li:hover .content-bg {
  display: block;
  background: none;
  opacity: 0.6;
  transform: translate(0, 30px);
}
.content-box li .content-bg img {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  top: 0;
  transition: all .5s;
  transform: translate(0, 14px);
}
.content-box li:hover .content-bg img {
  display: block;
  transform: translate(0, 30px);
}
.content-box li h3 {
  font-size: 18px;
  transition: all .5s;
  transform: translate(0, -248px);
}
.content-box li:hover h3 {
  color: #fff;
  transform: translate(0, -248px);
}
.content-box li p {
  font-size: 14px;
  color: #fff;
  text-align: justify;
  text-indent: 2em;
  transition: all .5s;
  transform: translate(0, 300px);
  padding: 0 20px;
}
.content-box li:hover p {
  transform: translate(0, -236px);
}
.content-box li .btn-more {
  width: 80px;
  display: block;
  margin: 0 auto;
  padding: 5px 10px;
  border: 2px solid #fff;
  transition: all .5s;
  transform: translate(0, 300px);
  color: #fff;
}
.content-box li:hover .btn-more {
  transform: translate(0, -208px);
}
/*start������ҵ���õ�С����*/
.ct-section {
  margin: 0 auto;
  width: 1170px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-middle .container-title {
  margin: 0 auto 50px;
}
.container-middle .container-title h3 {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}
.container-middle .container-title p {
  font-size: 18px;
  line-height: 80px;
  text-align: center;
  color: #333;
}
.container-middle .ct-list-row {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-bottom: 100px;
}
.ct-list-row .ct-item {
  flex: 1;
  font-size: 14px;
  text-align: center;
  color: #333;
}
.ct-list-row .ct-item-bg {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
  position: relative;
}
.ct-list-row .ct-item-bg-01 {
  background-color: #B94CF3;
}
.ct-list-row .ct-item-bg-02 {
  background-color: #1196FF;
}
.ct-list-row .ct-item-bg-03 {
  background-color: #FF0052;
}
.ct-list-row .ct-item-bg-04 {
  background-color: #02C25B;
}
.ct-list-row .ct-item-bg-05 {
  background-color: #FF6600;
}
.ct-list-row .ct-item-bg-06 {
  background-color: #FF0052;
}
.ct-list-row .ct-item-bg-07 {
  background-color: #FF6600;
}
.ct-list-row .ct-item-bg-08 {
  background-color: #FF0052;
}
.ct-item .ctbg {
  width: 48px;
  height: 48px;
  position: absolute;
  left: 16px;
  top: 16px;
  background: url(../images/ct_item_01.png) no-repeat 0 0;
}
.ct-item .ct1 {
  background: url(../images/ct_item_01.png) no-repeat 0 0;
}
.ct-item .ct2 {
  background: url(../images/ct_item_02.png) no-repeat 0 0;
}
.ct-item .ct3 {
  background: url(../images/ct_item_03.png) no-repeat 0 0;
}
.ct-item .ct4 {
  background: url(../images/ct_item_04.png) no-repeat 0 0;
}
.ct-item .ct5 {
  background: url(../images/ct_item_05.png) no-repeat 0 0;
}
.ct-item .ct6 {
  background: url(../images/ct_item_06.png) no-repeat 0 0;
}
.ct-item .ct7 {
  background: url(../images/ct_item_07.png) no-repeat 0 0;
}
.ct-item .ct8 {
  background: url(../images/ct_item_08.png) no-repeat 0 0;
}
.ct-item-text {
  position: absolute;
  left: 24px;
  top: 60px;
}
/*�ĸ�ģ��*/
.ct-module {
  margin: 0 auto;
  width: 1170px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ct-module .module-title {
  margin-bottom: 90px;
}
.ct-module .module-title h3 {
  text-align: center;
  font-size: 30px;
  color: #333;
  font-weight: 400;
  line-height: 8;
}
.ct-module-content {
  display: flex;
}
.ct-module-content li {
  flex: 1;
  text-align: center;
  position: relative;
}
.ct-module-content li.active {
  color: #00A0DE;
}
.ct-module-content li .ct-product {
  display: block;
  width: 142px;
  height: 142px;
  position: absolute;
  left: 50%;
  margin-left: -40px;
  top: -84px;
}
.ct-module-content li .ct-product-01 {
  background: url(../images/ct_product_01.png) no-repeat 0 0;
}
.ct-module-content li .ct-product-02 {
  background: url(../images/ct_product_02.png) no-repeat 0 0;
}
.ct-module-content li .ct-product-03 {
  background: url(../images/ct_product_03.png) no-repeat 0 0;
}
.ct-module-content li .ct-product-04 {
  background: url(../images/ct_product_04.png) no-repeat 0 0;
}
.ct-module-content li:hover .ct-product-01 {
  background: url(../images/ct_product_hover_01.png) no-repeat 0 0;
}
.ct-module-content li:hover .ct-product-02 {
  background: url(../images/ct_product_hover_02.png) no-repeat 0 0;
}
.ct-module-content li:hover .ct-product-03 {
  background: url(../images/ct_product_hover_03.png) no-repeat 0 0;
}
.ct-module-content li:hover .ct-product-04 {
  background: url(../images/ct_product_hover_04.png) no-repeat 0 0;
}
.ct-module-content li h3 {
  font-size: 16px;
}
.ct-module-content li h3:hover {
  color: #00A0DE;
  text-decoration: none;
}
.module-content {
  width: 100%;
  margin: 100px auto;
}
.module-box {
  height: 200px;
  border-radius: 10px;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  display: none;
}
.module-box li:hover {
  background-color: #00A0E9;
}
.module-content .active {
  display: flex;
}
.module-box > li {
  width: 280px;
  height: 140px;
  border: 1px solid #aaa;
  border-radius: 5px;
  text-align: center;
  position: relative;
}
.content-box-title {
  padding: 20px 0 20px;
}
.content-box-title h3 {
  margin-bottom: 15px;
}
.module-box li:hover h3 {
  color: #fff;
}
.module-box li:hover p {
  color: #fff;
}
/*
.content-box-btn{
    position: absolute;
    bottom: 30px;
    right: 25px;
}*/
.content-box-btn a i {
  width: 20px;
  height: 40px;
  overflow: hidden;
  position: absolute;
  right: 20px;
  bottom: 40px;
  display: none;
}
.content-box-btn a i s {
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  position: absolute;
  left: -14px;
  top: 0;
  color: #fff;
}
.module-box li:hover i {
  display: block;
}
/*start:���Ƕ���ʹ��΢��С����*/
.ct-section {
  margin: 0 auto;
  width: 1170px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ct-users {
  margin-top: 69px;
  text-align: center;
}
.ct-users-title {
  width: 500px;
  height: 36px;
  background-size: 380px 36px;
}
.ct-section > div {
  margin-left: auto;
  margin-right: auto;
}
.ct-users-title {
  font-size: 20px;
  color: #676B6F;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.ct-section > div {
  margin-left: auto;
  margin-right: auto;
}
.ct-users-list {
  margin-top: 66px;
}
.ct-users .users-list-row {
  margin: 50px;
  display: inline-block;
}
.ct-users .ct-users-logo {
  display: inline-block;
  width: 208px;
  height: 80px;
  line-height: 80px;
  vertical-align: top;
}
.ct-users .ct-users-logo-r1c1 {
  background-image: url(../images/users_logo_01.jpg);
}
.ct-users .ct-users-logo-r1c2 {
  background-image: url(../images/users_logo_02.jpg);
  background-size: 208px 81px;
}
.ct-users .ct-users-logo-r1c3 {
  background-image: url(../images/users_logo_03.jpg);
  background-size: 208px 81px;
}
.ct-users .ct-users-logo-r1c4 {
  background-image: url(../images/users_logo_04.jpg);
  background-size: 208px 81px;
}
.ct-users .ct-users-logo-r1c5 {
  background-image: url(../images/users_logo_05.jpg);
  background-size: 208px 81px;
}

.ct-banner-container {
  width: 100%;
  height: 420px;
  border-bottom: 1px solid #ddd;
}
.ct-banner-container .ct-banner-top-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-image: url(https://b.yzcdn.cn/static/intro/img/xiaochengxu/topbanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
}
.ct-banner-container .ct-banner-inner-text {
  margin: 0 auto;
  width: 1100px;
}
.ct-banner-container .ct-banner-title {
  padding-top: 129px;
  font-size: 30px;
  color: #333;
  line-height: 26px;
}
.ct-banner-container .ct-banner-sub-title {
  padding-top: 20px;
  font-size: 16px;
  color: #666;
  line-height: 20px;
}
.ct-banner-container .ct-banner-action {
  display: block;
  margin-top: 50px;
  width: 120px;
  height: 36px;
  line-height: 36px;
  background: #38f;
  color: #fff;
  letter-spacing: .5px;
  text-align: center;
  border-radius: 2px;
}
.ct-banner-container .ct-banner-note {
  padding-top: 10px;
  font-size: 14px;
  color: #666;
  line-height: 20px;
}
.ct-container-box {
  width: 1170px;
  margin: 0 auto;
}
.content-title {
  padding: 50px 0 50px 20px;
}
.content-box {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
}
.content-box li {
  width: 22%;
  height: 120px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
.content-box li > div {
  width: 100%;
  height: 100%;
  transition: all .5s;
  transform: translate(0, 120px);
}
.content-box li > i {
  position: absolute;
  left: 0;
  top: 25px;
  width: 60px;
  height: 70px;
  background: url(../images/index-four.png) no-repeat 0 0;
}
.content-box li h3 {
  font-size: 18px;
  transition: all .5s;
  transform: translate(0, -70px);
}
.content-box li p {
  font-size: 14px;
  color: #fff;
  text-align: justify;
  text-indent: 2em;
  transition: all .5s;
  transform: translate(0, 300px);
  padding: 0 20px;
}
.content-box li:hover div {
  background: #ff8000;
  opacity: 0.6;
  transform: translate(0, 0);
}
.content-box li:hover i {
  background: url(../images/index-four.png) no-repeat 0 -79px;
}
.content-box li:hover h3 {
  color: #fff;
  transform: translate(0, -95px);
}
.content-box li:hover p {
  transform: translate(0, -80px);
}
/*常见问题*/
ct-questions {
  background-color: #f8f8f8;
}
.ct-questions .ct-questions-middle {
  padding-bottom: 30px;
}
.container-middle {
  margin: 0 auto;
  width: 1170px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container-middle .container-title {
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  color: #333;
}
.ct-questions .ct-questions-middle .questions-title {
  padding: 74px 0 54px;
}
.container-middle .weapp-help {
  padding-bottom: 40px;
}
.container-middle .weapp-help h4 {
  font-size: 18px;
  color: #333;
  line-height: 25px;
}
.container-middle .weapp-help p {
  padding-top: 10px;
  font-size: 16px;
  color: #666;
  letter-spacing: 0;
  line-height: 26px;
}
